#banner {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 80vh;
	position: relative;
}
.banner-img {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
	object-fit: cover;
	object-position: center;
}
/* Code CSS en prévision de l'ajout d'un carousel pour la bannière */
/* Gestion des fleches du carrousel */
#banner .arrow {
	position: absolute;
}
#banner .arrow_left {
	left: 10px;
}
#banner .arrow_right {
	right: 10px;
}
.dots {
	position: absolute;
	bottom: 40px;
	display: flex;
}
.dot {
	  box-sizing: content-box;
	  flex: 0 1 auto;
	  width: 30px;
	  height: 3px;
	  padding: 0;
	  margin-right: 3px;
	  margin-left: 3px;
	  text-indent: -999px;
	  cursor: pointer;
	  background-color: #8A8786;
	  background-clip: padding-box;
	  border-top: 10px solid transparent;
	  border-bottom: 10px solid transparent;
	  opacity: .5;
	  transition: opacity .6s ease;
}
.dot_selected {
	background-color: #fff;
	opacity: 1;
}
